@import "tailwindcss";
@import "tw-animate-css";

@theme inline {
  --color-custom-color-1: #101a23;
  --color-custom-color-2: #17242d;
  --color-custom-color-3: #1f2c35;
  --color-custom-color-4: #121e28;
  --color-custom-color-5: #182630;
  --color-custom-color-6: #07141e;
  --font-inter: var(--font-inter);
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 80px;
}
